{% extends "PaTUserBundle::layout.html.twig" %}

{% block title %}
  Account - {{ parent() }}
{% endblock %}

{% block stylesheets %}
      {{ parent() }}
      <link href="{{ asset('css/dropzone.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

  {% block Column_central %}
    <h3>Add Picture</h3>

    <div class="well">
      <p>Here we add a Pic =)</p>
      <form id="myDropzone" action="{{ path('UploadPic') }}" class="dropzone"></form>
    </div>
  {% endblock %}



  {% block Column_left %}
    <h3>My links</h3>

    <div class="well well-lg">
      <p>test left</p>
    </div>
  {% endblock %}

{% block javascripts_page %}
  <script type="text/javascript">ChangeNavSel('navAccount');</script>
  <script src="{{ asset('js/dropzone.min.js') }}"></script>
  <script type="text/javascript">
  Dropzone.options.myDropzone = {
    maxFilesize: 1, // MB
    success: function(file, rep) {
      $getJSON(rep, function(donnees){
        alert(donnees.id . donnees.name . donnees.path);
      }
    }
  };
  </script>
{% endblock %}

