{% extends "PaTUserBundle::layout.html.twig" %}

{% block title %}
  Account - {{ parent() }}
{% endblock %}

  {% block Column_central %}
    <h3>Add Picture</h3>

    <div class="well">
      <p>Here we add a Pic =)</p>

      <form method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" />
      </form>
    </div>
  {% endblock %}



  {% block Column_left %}
    <h3>My links</h3>

    <div class="well well-lg">
      <p>test left</p>
    </div>
  {% endblock %}

{% block javascripts_page %}
  <script type="text/javascript">ChangeNavSel('navAccount');</script>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="{{ asset('js/uploadify/jquery.uploadify.v2.1.4.min.js') }}"></script>
    <script src="{{ asset('js/uploadify/swfobject.js') }}"></script>

    <script src="{{ asset('js/jquery.Jcrop.min.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ form_javascript(form) }}
{% endblock %}