
    <div class="well">
      {% for Pic in Pictures %}
        <div class="table well well-lg">
          <img src="{{ asset(Pic.path) }}" style="width: 600px">
          <p> {{ Pic.name }} </p>
          <button type="button" class="btn btn-primary" onclick="ChoosePic({{ Pic.id }});">Choose it !</button>
        </div>
      {% endfor %}
    </div>

    <script type="text/javascript">
      function ChoosePic(idPic)
      {
        var DATA = 'idPic=' +idPic;
        $.ajax({
            type: "POST",
              url: "{{ path(target) }}",
              data: DATA,
           });
        document.location.href="{{ path('Account') }}";
      }
    </script>
