{% extends "PaTVoyageBundle::layout.html.twig" %}

{% block title %}
  Voyage - {{ parent() }}
{% endblock %}

{# Colomne de gauche #}
{% block Column_left %}
	{{ parent() }}
	<hr>
	<li><a href="{{ path('pa_t_article_add', { 'travelid' :  travelid   })}}">Add article</a></li> 
	<hr>
	<li><a href="{{ path('pa_t_image_add', { 'albumid' :  travelid   })}}">Add Galery</a></li>

{% endblock %}


{# Colomne au centre #}
{% block Column_centrale %}

	<h3>-- Article --</h3>

	{% for article in article %}
		<div class="well">

			<!-- Titre -->
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-md-12">
					<h4>{{ article.title }}</h4>
				</div>
			</div>

			<!-- corp de l'article -->
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-md-12">
					<p>{{ article.poste }}</p>
				</div>
			</div>

			<!-- Bouttons en bas d'article -->
			<div class="row">
				<div class="col-md-6">
					<a href="{{ path('pa_t_article_delete', { 'id' : article.id, 'travelid' :  travelid })}}">
						<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span> Supprimer </button>
					</a>
				</div>

				<div class="col-md-6">
					<a href="{{ path('pa_t_article_change', { 'id' : article.id, 'travelid' :  travelid  })}}">
						<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span> Modifier </button>
					</a>
				</div>
			</div>
		</div>

		<h3>Commentaires :</h3>
		<div class = "well">
			<div class="row">


			</div>
		</div>
	{% endfor %}
{% endblock %}