{% extends "PaTVoyageBundle::layout_for_news.html.twig" %}

{% block title %}
  Voyage - {{ parent() }}
{% endblock %}


{% block Column_centrale %}

	{# Deuxiéme colone #}
	<h3>Les derniers voyages</h3>

	<ul>
		
		{% for type, flashMessages in app.session.flashbag.all() %}
		    {% for flashMessage in flashMessages %}
		        <div class=" alert alert-success "><li class="">
		            {{ flashMessage }}
		        </li></div>
		    {% endfor %}
		{% endfor %}
		
		{% for Trip in TripList %}
		<li  class="table well well-lg">
			<a class="lien" href="{{path('pa_t_voyage_view', { 'travelid' : Trip.id})}}">
				<table>
					<tr><td colspan="3" >{{Trip.title}}</td></tr>
					<tr><td width="33.3%"> Lieu : {{ Trip.place }}</td><td width="33.3%"> Durée : {{ Trip.duration }} jours</td><td width="33.4%"> Budget : {{ Trip.budget }}€</td></tr> 
					<tr><td colspan="3">Du {{ Trip.startdate|date('d/m/Y') }} au {{ Trip.enddate|date('d/m/Y') }}</td></tr>
					<tr><td colspan="3">{{ Trip.description }}</td></tr>
				</table>
			</a>
		</li>
		{% endfor %}
	</ul>

{% endblock %}

