{% extends "PaTVoyageBundle::layout_for_news.html.twig" %}

{% block title %}
  Voyage - {{ parent() }}
{% endblock %}


{% block Column_centrale %}

	{# Deuxiéme colone #}
	<h2>Les derniers voyages</h2><script src="holder.js"></script>

	<div class="container row" style="margin: 50px;">			
		{% for Trip in TripList%}
			<div class="col-md-4" >

				<div class="thumbnail" >
					
					<img src="{{ asset('images/profile_pic.gif') }}" alt="web/images/profile_pic.gif">
					
					<div class="caption">
						<!-- Titre de l'article -->
						<h3>{{Trip['infotravel'].title}}</h3>
						
						<!-- Données -->
						<p>
							<div class="row">
								<table class="col-md-12">
									<!-- Label => Lieu, Durée, Budget -->
									<div class="row">
										<tr class="col-md-12">
											<th class="col-md-3">Auteur</th>
											<th class="col-md-3"> Lieu</th>
											<th class="col-md-3"> Durée</th>
											<th class="col-md-3"> Budget</th>
										</tr>
									</div >
									<!-- Données => Lieu, Durée, Budget -->
									<div class="row">
										<tr class="col-md-12">
											<td class="col-md-3"><a href="#">{{ Trip['infouser'].username }}</a></td>
											<td class="col-md-3">{{ Trip['infotravel'].place }}</td>
											<td class="col-md-3">{{ Trip['infotravel'].duration }} J</td>
											<td class="col-md-3">{{ Trip['infotravel'].budget }}€</td>
										</tr> 
									</div >
								</table>
							</div>

							<br>
								
								<!-- Lieu, Durée, Budget -->
								{{ Trip['infotravel'].description | truncate(300, false, ' [...]')}}
							<br><br>
						</p>

						<p><a href="{{path('pa_t_voyage_view', { 'travelid' : Trip['infotravel'].id})}}" class="btn btn-primary" role="button">Voir ...</a>  <a href="#" class="btn btn-default" role="button">plus tard</a></p>

					</div>
				</div>
			</div>
		{% endfor %}

	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">ChangeNavSel('navNews');</script>
{% endblock %}