{% extends "PaTVoyageBundle::layout.html.twig" %}

{% block title %}
  Voyage - {{ parent() }}
{% endblock %}

{# Colomne de gauche #}
{% block Column_left %}
	{{ parent() }}
	<li class="col-md-12"><a href="{{ path('pa_t_article_add', { 'travelid' :  travelid   })}}">Ajouter un article</a></li> 
{% endblock %}

{# Colomne au centre #}
{% block Column_centrale %}
<h3>Liste des articles</h3>
<ul class="well">
	{% for type, flashMessages in app.session.flashbag.all() %}
		{% for flashMessage in flashMessages %}
			<div class=" alert alert-success ">
				<li>{{ flashMessage }}</li>
			</div>
		{% endfor %}
	{% endfor %}
		
	{% for article in article %}
		<li>
			<div class="col-md-8"><a href="#" >{{ article.title }}</a></div>

			<div class="col-md-2"><a href="{{ path('pa_t_article_delete', { 'id' : article.id, 'travelid' :  travelid })}}"><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span> Supprimer</button></a></div>
			<div class="col-md-2"><a href="{{ path('pa_t_voyage_change', { 'id' : article.id })}}"><button type="button" class="btn btn-default btn-sm" href="#"><span class="glyphicon glyphicon-edit"></span> Modifier</button></a></div>
		</li>
	{% endfor %}
</ul>
{% endblock %}

