{% extends "PaTUserBundle::layout.html.twig" %}

{% block title %}
  Account - {{ parent() }}
{% endblock %}

  {% block Column_right %}
    <h3>Menu</h3>
          
    <div class="well well-lg">
      <ul class="list-menu">
        <li><a href="{{ path('pa_t_voyage_homepage') }}">My travels</a></li>
        <hr>
        <li><a href="{{ path('Change_Status') }}">Change status</a></li>
        <hr>
        <li><a href="{{ path('fos_user_change_password') }}">Change password</a></li>
        <hr>
        <li><a href="#">Change profile picture</a></li>
        <hr>
        <li><a href="#">My followed travellers</a></li>
      </ul>
    </div>
  {% endblock %}


  {% block Column_central %}
    <h3>Personnal Informations</h3>

    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class=" alert alert-success "><li class="">
                {{ flashMessage }}
            </li></div>
        {% endfor %}
    {% endfor %}

    <div class="well">
      <div class="profile-picture-account">
        <img src="{{ asset('images/profile_pic.gif') }}">
      </div>
      <div class="personnal-infos">
        <p class="pseudo-account"><strong class="gras">Username :</strong> {{ app.user.username }}</p>
        <p class="status-account"><strong class="gras">Status :</strong> {{ app.user.status }}</p>
        <p class="birthdate-account"><strong class="gras">Birthdate :</strong> {% if app.user.birthdate == NULL %} Undefined {% else %} {{ app.user.birthdate|date("m/d/Y", "Europe/Paris") }} {% endif %}</p>
        <p class="country-account"><strong class="gras">Country :</strong> {{ app.user.country }}</p>
        <p class="visited-countries-account"><strong class="gras">Visited countries :</strong> {{ app.user.visitedcountries }}</p>
        <p class="email-account"><strong class="gras">Email :</strong> {{ app.user.email }}</p>

      </div>
    </div>
  {% endblock %}


  {% block Column_left %}
    <h3>My links</h3>

    <div class="well well-lg">
      <p>test left</p>
    </div>
  {% endblock %}

{% block javascripts_page %}
	<script type="text/javascript">ChangeNavSel('navAccount');</script>
{% endblock %}