{% extends "::layout.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}
  <div class="container main-page">

    {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
    
    {% block PaT_body %}
      {# Premiére colone #}
      <div class="col-md-2">

        {% block Column_right %}
          <h3>Menu</h3>
          
          <div class="well well-lg">
            <ul class="list-menu">
              {% block elementmenu %}
              {% endblock %}
              <hr>
              <li><a href="{{ path('Change_Status') }}">Change status</a></li>
              <hr>
              <li><a href="{{ path('Change_Country') }}">Change country</a></li>
              <hr>
              <li><a href="{{ path('Change_VisitedCountry') }}">Change visited country</a></li>
              <hr>
              <li><a href="{{ path('Change_Birthdate') }}">Change birthdate</a></li>
              <hr>
              <li><a href="{{ path('fos_user_change_password') }}">Change password</a></li>
              <hr>
              <li><a href="{{ path('Change_ProfilePicture') }}">Change profile picture</a></li>
              <hr>
              <li><a href="#">My followed travellers</a></li>
            </ul>
          </div>
        {% endblock %}
      </div>

      <div class="col-md-8">
        {# Deuxiéme colone #}
        {% block Column_central %}
          {% block fos_user_content %}
          {% endblock %}
        {% endblock %}
      </div>

      {# Troisiéme colone #}
      <div class="col-md-2">

        {% block Column_left %}
        {% endblock %}

      </div>
    {% endblock %}

  </div>
{% endblock %}